@tailwind base;
@tailwind components;
@tailwind utilities;

.oddCard {
  /* absolute p-2 bg-slate-900 text-slate-50 */
  position:absolute;
  padding: 10px 0px;
  background-color: black;
  color: aliceblue;
  border-radius: 10px;
}
.btns {
  /* bg-black text-white p-4 m-1 rounded-lg */
  background-color: black;
  color: white;
  padding: 10px 15px ;
  margin: 10px;
  border-radius: 10px;
}
.navBar{
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  color: white;
  background-color: black;
}
.navLst ul{
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 15px 0px 0px 0px;
}
*{
  margin: 0%;
  padding: 0%;
}
ul li {
  cursor: pointer;
  padding-right: 10px;
}
.card {
  border: 2px solid black;
  border-style: none;
  border-radius: 10px;
  padding: 20px;
  /* margin-left: 40px; */
  background-color: rgb(178, 189, 189);
  height: 540px;
  line-height: 30px;
  /* min-height: 300px; */
  width: 320px;
}

.cardImg {
  height: 250px;
  width: 250px;
}
.search {
  margin: 20px 0px;
  margin-left: 40px;
  display: flex;
  gap: 25px;
}
.cardTitle, .cardPrice, .cardDesc {
  font-size: 20px;
  font-weight: 700;
  /* line-height: 10px; */
}
.cardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:50px
}

/* simmercard */
.smainContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap:45px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.simmerContainer {
  border-radius: 10px;
  background-color:lightgray;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap:20px;
  height: 450px;
  width: 300px;
  /* border: 2px solid red; */
}
.smcard {
   height: 30px;
   border-radius: 10px;
   background-color: grey;
   width: 88%;
}
.last {
 margin-bottom: 20px;
}